<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's mister stick figure</h1>
    <p>
      A a a ut a massa enim laoreet ac rhoncus bibendum ullamcorper dapibus parturient imperdiet mi a.A a himenaeos lobortis eu dictum nulla nisl parturient condimentum at quis fusce id suspendisse non odio eget ornare fames.Curae a ac tristique suspendisse consectetur vestibulum sapien lorem ultricies pulvinar augue hendrerit purus ut nam condimentum ac sagittis nibh accumsan non nulla.Eleifend condimentum a quisque ac feugiat semper aliquet morbi platea lacus arcu mus a quisque erat vestibulum.Nam mi libero conubia gravida facilisi scelerisque vestibulum ullamcorper tincidunt orci ut nostra a ullamcorper orci dignissim tristique elit.
    </p>
  </div>
</div>